<button pButton type="button" label="Submit" class="p-button-text"></button>
<button pButton type="button" icon="pi pi-check" class="p-button-text"></button>
<button pButton type="button" label="Cancel" icon="pi pi-times" class="p-button-text"></button>
<button pButton type="button" label="Search" icon="pi pi-search" iconPos="right" class="p-button-text"></button>

<br>

<button pButton type="button" class="p-button-warning">CUIDADO</button>
<br>

<button pButton type="button" label="Click" (click)="handleClick(printear())"></button>
<p-button label="Click" (onClick)="handleClick(printear())"></p-button>
