
<div class="card">

  <p-dropdown
  [options]="tipo_anticipo"
  placeholder="Tipo Anticipo"
  optionLabel="name"
  [showClear]="true"
></p-dropdown>

<hr>
<h3>Anticipo</h3>


    <span class="p-float-label">
      <input type="text" id="float-input"  pInputText [(ngModel)]="cond_pago">
      <label for="float-input">Cond Pago</label>
    </span>

    <br>

    <span class="p-float-label">
      <input type="text" id="float-input"  pInputText [(ngModel)]="monto">
      <label for="float-input">Monto</label>
    </span>

    <br>

   <span class="p-float-label">
    <input type="text" id="float-input"  pInputText [(ngModel)]="no_oc">
    <label for="float-input">No O.C</label>
  </span>


</div>
<br>
<p-button label="Solicitar fondos"></p-button>
